Output-Build.txt
Grouper2/bin/Release/*
Grouper2/bin/Debug/*
Grouper2/bin/DebugFromTestPolicies/*
Grouper2/bin/DebugFromTestPath/*
Grouper2/bin/DebugLiveFromDC/*
Grouper2/obj/*
.vscode/
.vs/
.DS_Store
*/.DS_Store

